.st-emotion-cache-gi0tri {
    display: none;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

.header h1 {
    color: white;

    margin: 0;
    font-family: "Arial", sans-serif;
    padding: 0;
}

.header h1>strong {
    color: #6528CC;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.spacer {
    height: 70px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0E1117;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 14px;
}